* {
	margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: #333;
    font-size: 1rem;
    line-height: 1em;
    background:#f8f8f8;
}
p {
    margin-bottom:1.6em;
}

.container {
    width: 85%;
    max-width:850px;
    margin: 0 auto;
}

/*-------------------------
-----------HEADER--------*/
.header {
    background: #f8f8f8;
    color: #333;
    padding: 2rem 0;

    position: fixed;
    left:0;
    top:0;
    right: 0;
}
.header a {
    text-decoration: none;
}
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}
.logo {
    color: #333;
    letter-spacing: 1rem;
    font-size:1.2em;
}

#menu-icon {
    display:none;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding:0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius:5px;
}
.navigation ul li a:hover {
    background: #ebb60a;
}
.main {
    padding: 13rem;
}
/*------------------------------
---------FOOTER---------------*/
.footer {
    background: rgb(179, 156, 156);
    padding: 4rem 0;
    text-align: center;
    margin-top: 2rem;
}
/*-----------------------------
-------------------------------
------VERSION MOVIL-----------*/

@media only screen and (max-width:767px) {
    /*MENU HAMBURGUESA*/
    .boton {
        margin: 0 auto;
        display: block;
        width: 40px;
        height: 36px;
        padding: 10px;
        border-radius: 7px;
        background: #f3bd0d;
        color: white;
        cursor: pointer;
        position: relative;
    }
    .boton span {
        display: block;
        width: 40px;
        height: 4px;
        background: white;
        margin-top:7px;
    }
    
    label {
      cursor: pointer;
    }
    #menu-icon {
        display: none;
    }
    .navigation {
        display: none;
        text-align: center;
        padding:10px;
    }
    .navigation #menu li a {
        color: #333333;
        padding: 3rem 2rem;
        display: block;
        text-align: center;
    }
    .navigation:hover + #menu li a {
        background: #ebb60a;
        padding:5rem;
        transition: all 0.4s linear;
        border-radius:5px; 
        display: block;
    }

    #menu-icon:checked + .navigation {
      display: block;
    }
}



























/*header {
    display:block;
    background-color: white;
    position: sticky;
    top: 0;
    height: auto;
    padding-bottom: 3vh;
    margin: 0 auto;
    box-shadow:0 1px 1px #ccc;
    box-sizing: border-box;
}
nav {
    width: 100vw;
    margin: 15px;
    display: flex;
    padding: 10px;
}
.menu-desktop {
    display: block;
    position: absolute;
    right: 0;
    padding: 20px;
}
.menu-desktop li {
    list-style: none; 
    display: inline;
    
}
.menu-desktop a {
    text-decoration: none;
    display: inline;
    margin: 2.5rem;
    color: #191C26;
    
}
.menu-desktop a:hover {
    color: rgb(12, 12, 11);
    cursor: pointer;
    opacity: 1;
    border-radius: 7px;
    background-color: #f7b617;
    padding: 25px;
    
} */
/*----------------------------------
-----BANNER HERO ----------------
.banner-hero{
    background-image: url(images/taxi.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display:flex;
}
#box-hero {
    align-items: center;
    justify-items: center;
    color:white;
    background-color: #f7b617;
    margin: 10em;
    border-radius: 10px;
}
#text-hero {
    text-align: left;
    margin: 20px;
}
h3 {
    margin: 15px;
}
.button1 {
    margin: 15px;
    padding: 10px;
    background:white;
    color: black;
    border-radius: 10px;
    text-align: center;
}
----------------------------------
-----BANNER INFO ----------------
.banner-info{
    background-color: #f7b617;
    color: white;
    padding: 1em;
    width: 100%;
    height: 75vh;
    background-attachment: scroll;
    margin: 0;
}

----------------------------------
-----BANNER CONDUCE ----------------
.banner-conduce{
    background-image: url(images/conduce.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    width: 100vw;
    margin: 0;
    display:flex;
}
#box-conduce {
    display: flex;
    align-items: center;
    justify-items: center;
    color: white;
    background-color: #16161585;
    margin: 0;
}
#text-conduce {
    text-align: left;
    margin: 20px;
}
.button2 {
    margin: 15px;
    padding: 10px;
    background: #f7b617;
    color: white;
    border-radius: 10px;
    text-align: center;
}


----------------------------------
-----BANNER CONDUCE ----------------
.banner-tarifa {
float: inline-start;
    background-color: #f7b617;
    color: white;
    padding: 2rem;
    width: 100vw;
    height: 80vh;
    background-attachment: scroll;
    margin: 0;
}
#map {
    padding: 0.5rem;
    display: flex;
    justify-content: right;
    width: 90%;
}
#text-tarifa{
    padding: 0;
    margin: 0;
    display: grid;
    
}

.footer {
    background: #2b2b2b;
    height: 80vw;
}
*/
