* {
	margin: 0;
    padding: 0;
    font-family: sans-serif;
    /*color: #333;*/
    font-size: 1rem;
    /*line-height: 1em; */
    
}


.container {
    width: 100%;
    max-width:1800px;
    margin: 0 auto;
}

/*-------------------------
-----------HEADER--------*/
.header {
    background: #f8f8f8;
    color: #333;
    padding: 2rem 0;
    /*position: fixed; */
    left:0;
    top:0;
    right: 0;
}
.header a {
    text-decoration: none;
}
.logo-nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    flex-wrap: wrap;
}
.logo {
    margin: 15px;
    letter-spacing: 1rem;
    font-size:1.2em;
    color:white;
}
#menu-icon {
    display:none;
}
.navigation ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.navigation ul li {
    display: inline-block;
}
.navigation ul li a {
    display: block;
    padding:0.5rem 1rem;
    transition: all 0.4s linear;
    border-radius:5px;
}
.navigation ul li a:hover {
    background: #ebb60a;
}

/*------------------------------
---------section HERO---------------*/

.banner-hero {
    display:flex;
    align-items: center;
    justify-content: end;
    background-image: url(images/taxi.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height:100vh;
}
.text-hero-movil {
    display:none;
}
#box-hero {
    align-self: right;
    background:#f7b617;
    color: white;
    border-radius: 10px;
    padding: 5rem;
    margin: 5px;
    text-align: left;
    letter-spacing: 0.2em;
    line-height: 2em;    
}

/*------------------------------
---------section INFO---------------*/
.banner-info {
    background-color: #f7b617;
    color: white;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    height:75vh;
    
}
#image-info {
    height: 70%;
    margin: 25px;
    background-position: center bottom;
    background-size: cover;
    background-attachment: scroll;
    
}
#celular {
    float: left;
    align-self: auto;
    padding: 3rem 3rem;
    /*border: 2px solid white;
    ;*/
}
#text-info {
    margin: 0 auto;
    padding: 5rem;
}
/*------------------------------
---------SECCION CONDUCE---------------*/
.banner-conduce {
    display:flex;
    align-items: center;
    justify-content: end;
    background-image: url(images/conduce.jpg);
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: scroll;
    height:100vh;
}
.text-hero-movil {
    display:none;
}
#box-conduce {
    height: auto;
    align-self: right;
    background:#070707da;
    color: white;
    padding: 5rem;
    margin: 5px;
    text-align: left;
    letter-spacing: 0.2em;
    line-height: 2em;    
}
/*------------------------------
---------SECCION TARIFA----------*/
.banner-tarifa {
    background-color: #f7b617;
    color: white;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    height:85vh;
    flex-wrap: wrap;
}
#box-map {
    border: 1px solid white;
    padding: 1rem;
    margin:15px auto;
}
#box-tarifa{
    float: right;
    border: 2px solid whiter;
    padding: 1rem;
    margin: 25px auto;
    line-height: 3em;
}

/*------------------------------
---------FOOTER---------------*/
.footer {
    background: #2b2b2b;
    padding: 4rem 0;
    text-align: center;
    margin-top: 1rem;
}
/*-----------------------------
-------------------------------
------VERSION MOVIL-----------*/

@media only screen and (max-width:767px) {
    /*MENU HAMBURGUESA*/
    .logo {
        margin: 15px; }
    .boton {
        margin: 5px 25px;
        display: block;
        width: 40px;
        height: 36px;
        padding: 10px;
        border-radius: 7px;
        background: #f3bd0d;
        color: white;
        cursor: pointer;
        position: relative;
    }
    .boton span {
        display: block;
        width: 40px;
        height: 4px;
        background: white;
        margin-top:7px;
    }
    label {
      cursor: pointer;
    }
    #menu-icon {
        display: none;
    }
    .navigation {
        display: none;
        text-align: center;
        padding:10px;
    }
    .navigation #menu li a {
        color: #333333;
        padding: 3rem 2rem;
        display: block;
        text-align: center;
    }
    .navigation:hover + #menu li a {
        background: #ebb60a;
        padding:5rem;
        transition: all 0.4s linear;
        border-radius:5px; 
        display: block;
    }

    #menu-icon:checked + .navigation {
      display: block;
    }

/* BANNER-HERO */
#box-hero {
    align-self: right;
    padding: 2rem;
    margin: 3px;
    text-align: left;
    letter-spacing: 0.2em;
    line-height: 2em;    
}
#text-hero p {
    display:none;
}
.text-hero-movil {
    display: block;
    align-self: right;
    color: #f8f8f8;
}
/*BANNER-INFO*/
#text-info p {
    display:none;
}
/*BANNER CONDUCE*/


/*BANNER TARIFA*/
#banner-tarifa {
    height: 100vh;
    display: flex;
}
iframe {
    width: 100%;
    height: 40%;
}
}